@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src:
		/* from https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2 */
    url("/assets/fonts/Roboto.woff2") format("woff2"),
    /* from https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxM.woff */
      url("/assets/fonts/Roboto.woff") format("woff"),
    /* from https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxO.eot */
      url("/assets/fonts/Roboto.eot?#iefix") format("embedded-opentype"),
    /* from https://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Mu4mxN&skey=a0a0114a1dcab3ac&v=v29#Roboto */
      url("/assets/fonts/Roboto.svg#Roboto") format("svg"),
    /* from https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxP.ttf */
      url("/assets/fonts/Roboto.ttf") format("truetype");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  word-break: break-word;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.main-avatar {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 6px;
}

#streamTags div {
  margin-right: 16px;
  border-radius: 16px;
  background-color: #e8e8e8;
  padding: 6px 12px;
}

#streamTags span {
  color: #00c65e;
  margin-right: 16px;
  padding: 6px 0;
}

.button {
  /* border: solid #00c65e; */
  background-color: #00c65e;
  border-radius: 30px;
  color: white;
  padding: 0 14px;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  /* border-width: 2px; */
}
.button:hover {
  background-color: rgba(0, 198, 94, 0.8);
}

.secondary-button {
  border: solid #00c65e;
  color: #00c65e;
  border-radius: 30px;

  padding: 0 14px;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  border-width: 2px;
}
.secondary-button:hover {
  background-color: rgba(0, 198, 94, 1);
  color: white;
}

#sidebar {
  padding-left: 16px;
  padding-right: 16px;
}
.sidebarTitle {
  margin-top: 16px;
  font-weight: 600;
}

#ownProfile {
  padding-left: 16px;
}

.profile-item {
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
}

.profile-item:hover {
  background-color: lightgrey;
}

.profile-item div {
  padding: 4px;
  padding-left: 8px;
  align-content: space-between;
  flex-grow: 1;
}
.profile-item .username {
  flex-grow: 1;
  font-weight: 600;
}

.profile-item .category {
  font-size: 0.9rem;
}

.profile-item img {
  width: 48px;
  height: 48px;
  border-radius: 6px;
}

#streamViewerCount {
  margin-right: 16px;
}

#streamTitle {
  font-size: 1.3rem;
}

.header {
  background-color: #f9fafa;
  /* background-color: #00c65e; */
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 400px;
  grid-template-rows: 50px 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "channels livestream chat"
    "channels description chat";
}

.header {
  grid-area: header;
}

#headerLogo {
  height: 40px;
  margin-top: 4px;
}

.darkmode--activated #headerLogo {
  filter: invert();
}

.channels {
  grid-area: channels;
}

.livestream {
  grid-area: livestream;
}

.chat {
  grid-area: chat;
}

.description {
  grid-area: description;
}

/* #output {
  padding: 20px;
  text-align: center;
}
 */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 400px;
}
